@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa&display=swap');

h1{
    font-family:  sans-serif;
    font-size: 30px;
    margin: 15px;
    
}
